.img-contact{
    width: 30px;

}
.img-contact:hover{
    opacity: 0.75;    
}
a{
    text-decoration: none !important; 
}
.contacts-container{
    display: flex !important;
    justify-content: center !important;
    gap: 45px !important;
}
.button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #FF4D30; */
    background-color: #4E4FEB;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    border: 0px;
}
.button:hover{
    background-color: blue;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 25px;
}
.NavBar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.container-diapo{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 25px !important;
    padding-bottom: 5px;
    padding-right: 5px;
    
}


.diapo-text{
    max-width: 40%;
    padding-left: 45px;
    
}

.diapo-text h2{
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    color:#4E4FEB;
    margin-top: 25px;
    font-weight: 900;
    width: 100%;

}
h1{
   width: 100%;
    font-size: 72px;
    text-align: center;
    margin-bottom: 75px;
    color: #000;
}
.diapo-text p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    line-height: 1.6; 


}

.menu-container{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4FEB;
    border: 1px solid #068FFF ;   
    margin-top: 5px;
}
.menu-container a{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top:10px ;
    padding-bottom:10px ;
    border-left: 1px solid white;
}
.menu-container a:hover{
    cursor: pointer;
    background-color: #068FFF;
}



.social-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap:75px

}
.list-liens{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 100px;
    margin-top: 20px;
   
}

.list-liens a{
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.list-liens a:hover{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.copyright{
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

footer{
    background-color: white !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.typewrite{
    font-size: 54px;
    color: #4E4FEB;

    text-align: center;
    width: 100%;

}

body {
    /* background-color: rgba(37, 37, 208, 0.5); */
    /*FF4D30*/
    /* background-color: rgba(255,237,234,0.2); */
    background-color: #EEEEEE !important;
    margin-bottom: 0 !important;
}


.principale-marques{
    border-radius: 5%;
    padding: 15px;
    width: fit-content;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);

}

.principale-marques-container
{
    width: 100%;
    display: flex;
    justify-content: center ;
    gap: 55px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.principale-marques-super-container{
    margin-top: 50px;
}

.form-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
   
}




.titles
{
    color: #00F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 48px;
    margin: 0;
    margin-bottom: 50px;
}


.form-div{
    /* padding: 10px;    */
    border-radius: 2%; 
   /* position: relative;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px; */
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    margin-bottom: 50px;
    padding-bottom: 50px;
   
}



.form-div .image-v1 {
    position: relative;
    background-color: #068FFF;
    max-height: 175px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
form h5 {
    color: #4E4FEB;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.form-container label{
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    align-self: flex-start;

}

.nbrVehicule{
    align-self: flex-start;
}

.form-container select{
    padding: 8px;
    border-radius: 5%;
    font-size: 16px;
    align-self: flex-start;
    background-color: #4E4FEB;
    margin-left: 5px;
    color:white;
}


.form-container select:hover{
    cursor: pointer;
    background-color: #068FFF;
}


.form-div input{
    display: block;
    padding: 7px;
    width: 100%;
    border-radius: 5%;
    margin-top: 5px;
}



.grid-container {
    display: grid;
    margin-top: 35px;
    text-align: center;
    width: 100%;
    place-items: center;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 20px 45px !important;
}


.custom-select{
    position: relative;
    text-align: left;
    margin-bottom: 25px;

}
.dropdown {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1;
    display: none;
}

.dropdown.active {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.lables{
    font-size: 22px !important;
    font-weight: 500 !important;
    width: 100%;
}

.selects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 10px 100px;
    padding-left: 75px;
    padding-right: 75px;

}

#form1 ,#form2 {
    display: block;
    
}
#form3 ,#form4{
    display: none ;

}

#CompareBtn{
    padding: 15px;
    width: 250px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
}
#CompareBtn:hover{
    background-color: #00F;
    cursor: pointer;
}
#error-from{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: none;
}


.sectionAchat{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.guideAchatLien{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px !important;

}

.guideAchatLien-container{
    margin-top: 50px;
}

.icon-container{
    display: flex ;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 50px;

}

#titleachat
{
    margin-bottom: 20px !important;
}

#NavigateGuide{

    padding: 15px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);

}
#NavigateGuide:hover{
    background-color: #00F;
    cursor: pointer;
}


.icon-container p{
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}
.icon-container img{
    
    width: 30px;
}



.comp-container{
    margin-top: 100px;
    margin-bottom: 50px;

}

.comp{
    margin: auto;
    width: 600px ;
    border-radius: 5px;
    height: 600px;
    padding-top: 50px;
}
.comp:hover{
    opacity: 65%;
    cursor: pointer;
}

.VS{
    color: #00F !important;
    margin-top: 16px;
    margin-bottom: 16px;
}
.comp .element1{
    width:380px;
    height: 180px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */

}

.comp .element2{
    width: 380px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #068FFF;
    margin-top: 0px;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */
}

.conainer-bestcomp{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.comp p{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
}




.ComaparasionTable{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.table-container{
    max-width: 90vw;
    overflow: auto; 
    max-height: 90vh;
    
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

}

th, td {
    text-align: center !important;
    /* border: 2px solid #aaaaaae4; */
    border: 2px solid #fff !important;
    padding: 10px !important;
}

td{
    width: 800px !important;
}

th{
    background-color: #068FFF;
    
}

th>h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

td>h4{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
}


td img {
    border-radius: 5px;
    border: 0px !important;
}
td img:hover{
    opacity: 75%;
    border-radius: 5px;
    border: 0px !important;
}

.sub-headers,.principlae-carc{
    width: 300px;
    position: sticky;
    left: 0;
    z-index: 1;
}
.header {
    position: sticky ;
    background-color: #4E4FEB;
    top: 0;
}
.sub-headers h4{
    font-size: 20px !important;
    font-weight: normal !important;
}


.LatestNews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
}
.LatestNews{
    width: 55% !important;
}


.carousel-item{
    position: relative;
}

.carousel-item h3{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 5;
    padding: 10px;
    background-color: #068FFF;
    border-radius: 10px;
    font-style: bold;
    font-size: 34px;
}




.NewsCard{
    border:2px solid #fff;
    width: 600px;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.2);
    
}

.Title-container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;

}

.Title-container h6{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}

.NewsCardContent{
    padding: 15px;
    text-align: left;
}
.NewsCardContent p{
    font-size: 14px;
    margin: 0;
}

.NewsCardContent .desciption{
    font-size: 20px !important;
    font-weight: normal;
    margin-bottom: 30px;
}

.News-container{
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.Cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 30px 30px ;

}

.voirPlus{
    display: flex;
    justify-content: end;
    align-items: center;
}
.voirPlus a{
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
}

.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    width: 750px;
    border: 2px solid #068FFF ; 
    border-radius: 2%;
}


.NewsDetails{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid #fff ;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);

}

.NewsDetails h2{
    margin-bottom: 25px
}


.NewsDetails .Newscontent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;


}
.NewsDetails .Newscontent img{
    width: 50vw;
    border-radius: 5px;
}

.NewsDetails .Newscontent .datecreate{
    margin-left: 45vw;
    font-size: 16;
    font-weight: normal;
}


.NewsDetails .Newscontent  .descrp{
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 50px;
}

.NewsDetails .Newscontent  .text{
    font-size: 18px;

}




















