.img-contact{
    width: 30px;

}
.img-contact:hover{
    opacity: 0.75;    
}
a{
    text-decoration: none !important; 
}
.contacts-container{
    display: flex !important;
    justify-content: center !important;
    gap: 45px !important;
}
.button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #FF4D30; */
    background-color: #4E4FEB;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    border: 0px;
}
.button:hover{
    background-color: blue;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 25px;
}
.NavBar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.container-diapo{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 25px !important;
    padding-bottom: 5px;
    padding-right: 5px;
    
}


.diapo-text{
    max-width: 40%;
    padding-left: 45px;
    
}

.diapo-text h2{
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    color:#4E4FEB;
    margin-top: 25px;
    font-weight: 900;
    width: 100%;

}
h1{
   width: 100%;
    font-size: 72px;
    text-align: center;
    margin-bottom: 75px;
    color: #000;
}
.diapo-text p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    line-height: 1.6; 


}

.menu-container{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4FEB;
    border: 1px solid #068FFF ;   
    margin-top: 5px;
}
.menu-container a{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top:10px ;
    padding-bottom:10px ;
    border-left: 1px solid white;
}
.menu-container a:hover{
    cursor: pointer;
    background-color: #068FFF;
}



.social-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap:75px

}
.list-liens{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 100px;
    margin-top: 20px;
   
}

.list-liens a{
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.list-liens a:hover{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.copyright{
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

footer{
    background-color: white !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.typewrite{
    font-size: 54px;
    color: #4E4FEB;

    text-align: center;
    width: 100%;

}

body {
    /* background-color: rgba(37, 37, 208, 0.5); */
    /*FF4D30*/
    /* background-color: rgba(255,237,234,0.2); */
    background-color: #EEEEEE !important;
    margin-bottom: 0 !important;
}


.principale-marques{
    border-radius: 5%;
    padding: 15px;
    width: fit-content;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);

}

.principale-marques-container
{
    width: 100%;
    display: flex;
    justify-content: center ;
    gap: 55px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.principale-marques-super-container{
    margin-top: 50px;
}

.form-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
   
}




.titles
{
    color: #00F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 48px;
    margin: 0;
    margin-bottom: 50px;
}


.form-div{
    /* padding: 10px;    */
    border-radius: 2%; 
   /* position: relative;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px; */
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    margin-bottom: 50px;
    padding-bottom: 50px;
   
}



.form-div .image-v1 {
    position: relative;
    background-color: #068FFF;
    max-height: 175px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
form h5 {
    color: #4E4FEB;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.form-container label{
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    align-self: flex-start;

}

.nbrVehicule{
    align-self: flex-start;
}

.form-container select{
    padding: 8px;
    border-radius: 5%;
    font-size: 16px;
    align-self: flex-start;
    background-color: #4E4FEB;
    margin-left: 5px;
    color:white;
}


.form-container select:hover{
    cursor: pointer;
    background-color: #068FFF;
}


.form-div input{
    display: block;
    padding: 7px;
    width: 100%;
    border-radius: 5%;
    margin-top: 5px;
}



.grid-container {
    display: grid;
    margin-top: 35px;
    text-align: center;
    width: 100%;
    place-items: center;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 20px 45px !important;
}


.custom-select{
    position: relative;
    text-align: left;
    margin-bottom: 25px;

}
.dropdown {
    position: absolute !important;
    width: 100%;
    max-height: 150px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1;
    display: none;
}

.dropdown.active {
    display: block;
}

.dropdown-item {
    padding: 10px !important;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.lables{
    font-size: 22px !important;
    font-weight: 500 !important;
    width: 100%;
}

.selects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 10px 100px;
    padding-left: 75px;
    padding-right: 75px;

}

#form1 ,#form2 {
    display: block;
    
}
#form3 ,#form4{
    display: none ;

}

#CompareBtn{
    padding: 15px;
    width: 250px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
}
#CompareBtn:hover{
    background-color: #00F;
    cursor: pointer;
}
#error-from{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: none;
}
.error{
    color: red;
    font-size: 24px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px; 
}

.sectionAchat{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.guideAchatLien{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px !important;

}

.guideAchatLien-container{
    margin-top: 50px;
}

.icon-container{
    display: flex ;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 50px;

}

#titleachat
{
    margin-bottom: 20px !important;
}

#NavigateGuide{

    padding: 15px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);

}
#NavigateGuide:hover{
    background-color: #00F;
    cursor: pointer;
}


.icon-container p{
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}
.icon-container img{
    
    width: 30px;
}



.comp-container{
    margin-top: 100px;
    margin-bottom: 50px;

}

.comp{
    margin: auto;
    width: 600px ;
    border-radius: 5px;
    height: 600px;
    padding-top: 50px;
}
.comp:hover{
    opacity: 65%;
    cursor: pointer;
}

.VS{
    color: #00F !important;
    margin-top: 16px;
    margin-bottom: 16px;
}
.comp .element1{
    width:380px;
    height: 180px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */

}

.comp .element2{
    width: 380px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #068FFF;
    margin-top: 0px;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */
}

.conainer-bestcomp{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.comp p{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
}




.ComaparasionTable{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.table-container{
    max-width: 90vw;
    overflow: auto; 
    max-height: 90vh;
    
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

}

th, td {
    text-align: center !important;
    /* border: 2px solid #aaaaaae4; */
    border: 2px solid #fff !important;
    padding: 10px !important;
}

td{
    width: 800px !important;
}

th{
    background-color: #068FFF;
    
}

th>h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

td>h4{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
}


td img {
    border-radius: 5px;
    border: 0px !important;
}
td img:hover{
    opacity: 75%;
    border-radius: 5px;
    border: 0px !important;
}

.sub-headers,.principlae-carc{
    width: 300px;
    position: sticky;
    left: 0;
    z-index: 1;
}
.header {
    position: sticky ;
    background-color: #4E4FEB;
    top: 0;
}
.sub-headers h4{
    font-size: 20px !important;
    font-weight: normal !important;
}


.LatestNews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
}
.LatestNews{
    width: 55% !important;
}


.carousel-item{
    position: relative;
}

.carousel-item h3{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 5;
    padding: 10px;
    background-color: #068FFF;
    border-radius: 10px;
    font-style: bold;
    font-size: 34px;
}




.NewsCard{
    border:2px solid #fff;
    width: 600px;
    border-radius: 5px;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.05);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.05);
    
}

.Title-container{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;

}

.Title-container h6{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}

.NewsCardContent{
    padding: 15px;
    text-align: left;
}
.NewsCardContent p{
    font-size: 14px;
    margin: 0;
}

.NewsCardContent .desciption{
    font-size: 20px !important;
    font-weight: normal;
    margin-bottom: 30px;
}

.News-container{
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.Cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 30px 30px ;

}

.voirPlus{
    display: flex;
    justify-content: end;
    align-items: center;
}
.voirPlus a{
    font-size: 14px;
    font-weight: bold;
    margin-right: 4px;
}

.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img{
    width: 750px;
    border: 2px solid #068FFF ; 
    border-radius: 2%;
}


.NewsDetails{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid #fff ;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);

}

.NewsDetails h2{
    margin-bottom: 25px
}


.NewsDetails .Newscontent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;


}
.NewsDetails .Newscontent img{
    width: 50vw;
    border-radius: 5px;
}

.NewsDetails .Newscontent .datecreate{
    margin-left: 45vw;
    font-size: 16;
    font-weight: normal;
}


.NewsDetails .Newscontent  .descrp{
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 50px;
}

.NewsDetails .Newscontent  .text{
    font-size: 18px;

}



.ContactSection{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.ContactSection h5{
    text-align: center !important;
}


.contactsection-container{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    
}

.contact-informations{
    width: 50%;
}

.contact-informations p{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.contact-informations span{
    font-weight: normal;
    font-size: 20px;

}

.contact-informations .logos-contact{
    width: 40px;

}

.contacts-infos a{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-left: 5px;

}

.contacts-infos{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px 50px;
    margin-top: 75px;
}
.contacts-infos a:hover{
    color: #00F;
}


.from-email{
    width: 50%;
    
}

.from-email form {
    width: 100%;
    
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
}

.from-email label {
    display: block;
    margin-bottom: 8px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.from-email label span{
    color: red;
    font-size: 20px;
}

.from-email input,.from-email textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.from-email input[type="submit"] {
    background-color: #068FFF;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}

.from-email input[type="submit"]:hover {
    background-color: #00F;
}

.SignupBody{
    /* background-color: #00F !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
     /* Bg-login.jpg */
    background-image:  url("/ComparateurVehicules/assets/Bg-login.jpg");
    background-position: center; 
    background-repeat: no-repeat ; 
    background-size: cover; 
}

.SignupForm-container{
    background-color: rgba(238, 238, 238, 0.8) !important;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    width: 40vw;
    text-align: center;
}

.SignupForm-container h5{
    margin: 0;
}

.SignupForm label{
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.SignupForm span{
   color: red;
}


.SignupForm input , .SignupForm select{
    width: 100%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.SignupForm input[type="submit"]{
    background-color: #068FFF;
    border: 0;
  
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
    font-weight: bold;
}
.SignupForm input[type="submit"]:hover{
    background-color: #00F;
}
.SignupForm p{
    text-align: center;
}


.MarqueInfos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;


}

.MarqueInfos{
    width: 70%;
}

.MarqueNL{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);

}
.MarqueLogo{
    width: 30%;
}
.MarqueName{
    border-bottom: 8px solid #068FFF;
    padding-bottom: 10px;
}
.MarqueName h4{
    font-size: 38px;
    font-weight: bold;
}

.Marqueinfo{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
    padding-top: 15px;
}
.Marqueinfo .titl{
    font-size: 24px;
    font-weight: bold;

}   
.Marqueinfo .info{
    font-size: 24px;
    font-weight: 400;
}   

.PrncipaleVehicules h5{
    color: #00F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 32px;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 10px;
}

.listVechlsPrincipale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
    font-weight: bold;
}
.listVechlsPrincipale img{
    border-radius: 5px;
}
.listVechlsPrincipale p{
    color: #000 !important;

} 
.listVechlsPrincipale :hover{
    opacity: 80%;
    cursor: pointer;
}
.List-Vehicule-Choose{
  
    width: 70%;
    
}
.List-Vehicule-Choose h5{
    color: #00F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 32px;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 10px;
}
.List-Vehicule-Choose select{
    width: 400px;
    height: fit-content;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #4E4FEB;
    color: white;
    border-radius: 5px;
}
.List-Vehicule-Choose select:hover{
    cursor: pointer;
}
.List-Vehicule-Choose option{
    max-height: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
}


.List-Vehicule-Choose .select-container{
    display: flex ; 
    justify-content: center;
    align-items: center;
}

#table-vch-marque{
    height: fit-content !important;
    max-height: fit-content;
}

.vehiculeinfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#VehiculeName {
    border-bottom: 0 !important;
}

#VehiculeImage{
    padding-bottom: 10px;
}

.Vhinfo1{
padding-left: 50px;
padding-right: 50px;
}

.showBtn-container{
    width: 100%;
    display: flex;
    justify-content: center;
  
}

#showMoreBtn ,#showLessBtn{
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #4E4FEB;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#showMoreBtn:hover , #showLessBtn:hover{
    background-color: #00F;
}

#moreInfos{
    display: none;
}






.Best-Avis-Section
{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.Best-Avis-Section .BestAvis-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Best-Avis-Section .Title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Best-Avis-Section .Title a{
    position: absolute;
    right: 5px;
    color: #4E4FEB;
    font-weight: bold;
}

.Best-Avis-Section .Title a:hover{
    color:#00F;
}


.Best-Avis-Section .Avis{
   position: relative;
   width: 350px;
}

.Best-Avis-Section .Avis img{
    width: 100%;
}

.Best-Avis-Section .Avis h6{
    position: absolute;
    top: 40px;
    left: 5px;
    width: 350px;
    font-size: 22px;
    font-weight: normal;
}

.Best-Avis-Section .Avis p{
    position: absolute;
    bottom: 10px;
    right: 60px;
    font-size: 20px;
    font-weight: bold;
}

.Best-Avis-Section .Avis-Container h3
{
    margin-left: 15px;
    font-size: 24px;
    text-align: left;

}
.Best-Avis-Section .Avis-Container h3 span
{
    font-size: 32px;
}
:root{
    --primary-colour: #191919;
    --secondary-colour: hsl(233 80% 70%);
   
    --star-colour: hsl(38 90% 55%);
  }

.AddAvisSection{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.AddAvisSection .Avis{
    border-radius: 5px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1); */
}
.AddAvisSection .Note-container
{
    display: flex;
    justify-content: start;
    gap: 50px;
    align-items: center;
}
.AddAvisSection .Comentaire{
    margin-top: 15px;
    text-align: left;
}
.AddAvisSection .Comentaire textarea{
    padding: 10px;
}
.AddAvisSection .Avis button {
    border: 0;
    padding-top: 10px;
    align-self: end !important;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #4E4FEB;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.AddAvisSection .Avis button:hover{
    background-color: #00F;
}


.AddAvisSection .container{
    width: 250px;
    text-align: center;
    margin: 0;
    height: fit-content;
    transform:  rotateY(180deg);
  }
  
  .AddAvisSection .container .container__items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 .5em;
    width: 100%;
    height: 100%;
  }
  
  .AddAvisSection .container .container__items input{
    display: none;
  }
  
  .AddAvisSection .container .container__items label{
    width: 20%;
    aspect-ratio: 1;
    cursor: pointer;
  }
  
  .AddAvisSection .container .container__items label .star-stroke{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--secondary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  .AddAvisSection .container .container__items label .star-stroke .star-fill{
    width: 70%;
    aspect-ratio: 1;
    background: var(--primary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  .AddAvisSection .container .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
    background: var(--star-colour);
  }
  
  .AddAvisSection .container .container__items input:checked ~ label .star-stroke .star-fill{
    background: var(--star-colour);
  }
  
.BestAvis-container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.MarqueInfos-container a{
    color: #000;
    padding: 10px;
}
.MarqueInfos-container a:hover{
opacity: 65%;
}

 
.MarqueInfos-container .Fav{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
    padding-right: 100px;
    align-self: flex-end;
    color: #00F;
}
.MarqueInfos-container .Fav:hover{
    cursor: pointer;
}

.button-container img:hover{
    opacity: 75%;
}


.VechFavSection{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fav-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    row-gap: 25px;
    column-gap: 60px;
}

.Fav-container div p a{
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.Fav-container div p a:hover{
    cursor: pointer;
    color: #00F;
}
.Fav-container div img{
    border-top-right-radius: 5px ;
    border-top-left-radius: 5px ;

}
.Fav-container div{
    position: relative;
    width: 400px;
}

.Fav-container .delImg{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0px;
    background-color: transparent;
    z-index: 5;
}

.Fav-container .delImg:hover{
    opacity: 50%;
    cursor: pointer;
}

.guideSection{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.chooseVech{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}

/**************************************Admin******************************************************/
.ChoosePageAdmin{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}
.Pages-choose-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    margin: 0;
    gap: 25px 25px;
    padding-left: 25px;
    padding-right: 25px;

}
.Pages-choose-container .elem{
    height: 300px;
    width: 100%;
}
.Pages-choose-container .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
}

.Pages-choose-container .elem:hover{
    opacity: 75%;
}

.Pages-choose-container .elem p{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
}

.GestionMarque{
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dataTables_wrapper{
    max-width: 90%;
    margin: auto;
}
#example thead tr th,#exampleVech thead tr th{
    background-color: #068FFF;
    border: 0;
    color: white;
}

div.dataTables_wrapper div.dataTables_filter input{
    background-color: white;
}
div.dataTables_wrapper div.dataTables_length select{
    background-color: white;
    width: 50px !important;
}
#example a ,#exampleVech a{
    color: #000;
}
#example a.AddBtn ,#exampleVech a.AddBtn{
    color: green;
}
#example a.EditBtn ,#exampleVech a.EditBtn{
    color: blue;
}



#example a:hover, #exampleVech a:hover{
    font-weight: bold ;
}
div.dataTables_filter label{
    margin-right: 25px;
}
.DeleteMarqueBton{
    background-color: transparent;
    border: 0;
    color: red;
}
.DeleteMarqueBton:hover{
    font-weight: bold ;
}

.DeleteVehiculeBton{
    background-color: transparent;
    border: 0;
    color: red;
}
.DeleteVehiculeBton:hover{
    font-weight: bold ;
}

.AddMarqueForm .ModifyImage{
    display: flex;
    justify-content: start;
    align-items: center;
}
.AddMarqueForm .ModifyImage input{
    width: 50% !important;
    margin-right: 15px;
}

.AddMarqueForm .ModifyImage img{
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AddMarqueForm .ModifyImage div{
    width: 100%;
}




.AddMarqueForm{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.AddMarqueForm .titles{
    margin-bottom: 25px !important;
}
.AddMarqueForm form {
    background-color: #fff;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AddMarqueForm label {
    display: block;
    margin-bottom: 8px;
}

.AddMarqueForm label[for="principale"]
{
    display: inline;
    margin-right: 15px;
}

.AddMarqueForm label span{
    color: red;
}

.AddMarqueForm input[type="checkbox"]{
    margin-bottom:25px;
    padding-top: 25px;
    height: 20px;
    width: 20px;
    align-self: flex-end;
}
.AddMarqueForm .check-container{
    display: flex;
    justify-content: start;
    align-items: start;
}
.AddMarqueForm input:not(input[type="checkbox"]) ,.AddMarqueForm select ,.AddMarqueForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.AddMarqueForm input[type="submit"] {
    background-color: #068FFF;
    color: #fff;
    cursor: pointer;
}

.AddMarqueForm input[type="submit"]:hover{
    background-color: #00F;
}

.commenteCase{
    max-width: 250px;
    overflow: auto;
}


.AccepteAvisBton ,.AccepteUserBton{
    background-color: transparent;
    border: 0;
    color: #00F;
}
.AccepteAvisBton:hover,.AccepteUserBton:hover{
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.RefuseAvisBton , .BloqueUserBton, .DeleteNewsBton,.RefuseUserBton,.DeleteGuideBton,.DeleteContactBton,.DeleteDiaporamaBton{
    background-color: transparent;
    border: 0;
    color: red;
}

.RefuseAvisBton:hover , .BloqueUserBton:hover ,.DeleteNewsBton:hover,.RefuseUserBton:hover,.DeleteGuideBton:hover,.DeleteContactBton:hover,.DeleteDiaporamaBton:hover{
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.enatt{
    color: #000 !important;
    font-weight: bold;
}  
.confm{
    color: rgb(3, 87, 3) !important;
    font-weight: bold;
}  
.refus
{
    color: red !important;
    font-weight: bold;
}
.userNo{
    color: red !important;
}


.ChoosePageParams{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('/ComparateurVehicules/assets/settingAdmin.jpg'); 
    background-size: cover;   
    background-position: center;
}

.Params-choose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    height: screen;
    
    padding-left: 50px;
    padding-right: 50px;
}


.Params-choose-container .elem{
    height: 300px;
    width: 80%;
    background-color: #4E4FEB;
}
.Params-choose-container .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
}

.Params-choose-container .elem:hover{
    opacity: 75%;
}

.Params-choose-container .elem p{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
}


.guideCase {
    max-width: 700px;
    overflow: auto;

}



::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #5f5e5e;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }