.img-contact{
    width: 30px;

}
.img-contact:hover{
    opacity: 0.75;    
}
a{
    text-decoration: none !important; 
}
.contacts-container{
    display: flex;
    justify-content: center;
    gap: 45px;
}
.button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #FF4D30; */
    background-color: #4E4FEB;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    border: 0px;
}
.button:hover{
    background-color: blue;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
.container-diapo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    
}


.diapo-text{
    max-width: 40%;
    padding-left: 45px;
    
}

.diapo-text h2{
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    color:#4E4FEB;
    margin-top: 25px;
    font-weight: 900;
    width: 100%;

}
h1{
   width: 100%;
    font-size: 72px;
    text-align: center;
    margin-bottom: 75px;
    color: #000;
}
.diapo-text p{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    line-height: 1.6; 


}

.diaporama{
    position: relative;
    max-width: 100%;
    display: flex;
}

.diaporama div{
    position: relative;
    height: 575px;
    width: 300px;
    background-color: #4E4FEB;
    margin-right: 25px;
}


.diaporama img {
    width: 750px;
    height: auto;
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right:65px ;
    border: 2px solid #068FFF; 
    border-radius: 2%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.diaporama a:hover{
    background-color: #068FFF;
   opacity: 95%;
}
.diaporama a {
    display: none;

}
.diaporama h3 {
    position: absolute;
    right: 70px;
    width: 75px;
    margin-top: 80px;
    background-color: #068FFF;
    text-align: center;
    padding:10px ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}


.diaporama img.active {
    opacity: 1;
}

.diaporama a.active {
    display: block;
}

.diaporama h3.active {
    opacity: 1;
}

.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4FEB;
    border: 1px solid #068FFF ;
   
    margin-right: 10px;
   
    margin-top: 5px;
}
.menu-container a{
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding-top:15px ;
    padding-bottom:15px ;
    border-left: 1px solid white;
}
.menu-container a:hover{
    cursor: pointer;
    background-color: #068FFF;
}



.social-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap:75px

}
.list-liens{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 100px;
    margin-top: 20px;
   
}

.list-liens a{
    color: black;
    font-size: 18px;
    font-weight: 100;
}

.list-liens a:hover{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.copyright{
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
}

footer{
    background-color: white ;
}

.typewrite{
    font-size: 54px;
    color: #4E4FEB;

    text-align: center;
    width: 100%;

}

body {
    /* background-color: rgba(37, 37, 208, 0.5); */
    /*FF4D30*/
    /* background-color: rgba(255,237,234,0.2); */
    background-color: #EEEEEE !important;
    margin-bottom: 0;
}


.principale-marques{
    border-radius: 5%;
    padding: 15px;
    width: fit-content;
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);

}

.principale-marques-container
{
    width: 100%;
    display: flex;
    justify-content: center ;
    gap: 55px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.principale-marques-super-container{
    margin-top: 50px;
}

.form-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
   
}




.titles
{
    color: #00F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 48px;
    margin: 0;
    margin-bottom: 50px;
}


.form-div{
    /* padding: 10px;    */
    border-radius: 2%; 
   /* position: relative;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px; */
    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.33);
    margin-bottom: 50px;
    padding-bottom: 50px;
   
}



.form-div .image-v1 {
    position: relative;
    background-color: #068FFF;
    max-height: 175px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
form h5 {
    color: #4E4FEB;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;
}

.form-container label{
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    align-self: flex-start;

}

.nbrVehicule{
    align-self: flex-start;
}

.form-container select{
    padding: 8px;
    border-radius: 5%;
    font-size: 16px;
    align-self: flex-start;
    background-color: #4E4FEB;
    margin-left: 5px;
    color:white;
}


.form-container select:hover{
    cursor: pointer;
    background-color: #068FFF;
}


.form-div input{
    display: block;
    padding: 7px;
    width: 100%;
    border-radius: 5%;
    margin-top: 5px;
}



.grid-container {
    display: grid;
    margin-top: 35px;
    text-align: center;
    width: 100%;
    place-items: center;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 20px 0px ;
}


.custom-select{
    position: relative;
    text-align: left;
    margin-bottom: 25px;

}
.dropdown {
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1;
    display: none;
}

.dropdown.active {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.lables{
    font-size: 22px !important;
    font-weight: 500 !important;
    width: 100%;
}

.selects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
    gap: 10px 100px;
    padding-left: 75px;
    padding-right: 75px;

}

#form1 ,#form2 {
    display: block;
    
}
#form3 ,#form4{
    display: none ;

}

#CompareBtn{
    padding: 15px;
    width: 250px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
}
#CompareBtn:hover{
    background-color: #00F;
    cursor: pointer;
}
#error-from{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: none;
}


.sectionAchat{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.guideAchatLien{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;

}

.guideAchatLien-container{
    margin-top: 50px;
}

.icon-container{
    display: flex ;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 50px;

}

#titleachat
{
    margin-bottom: 10px;
}

#NavigateGuide{

    padding: 15px;
    background-color: #4E4FEB;
    color: #fff;
    border: 0px;
    border-radius:  7px;
    font-size: 20px;
    font-weight: bold;

    box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -3px 1px 5px 5px rgba(0,0,0,0.1);

}
#NavigateGuide:hover{
    background-color: #00F;
    cursor: pointer;
}


.icon-container p{
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}
.icon-container img{
    
    width: 30px;
}



.comp-container{
    margin-top: 50px;
    margin-bottom: 50px;

}

.comp{
    margin: auto;
    width: 400px;
    border-radius: 5px;
    height: 600px;
    padding-top: 50px;
}

.VS{
    color: #00F !important;
}
.comp .element1{
    width:380px;
    height: 180px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */

}

.comp .element2{
    width: 380px;
    height: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #068FFF;
    margin-top: 50px;
    transform: rotate(-10deg); /* Equal to rotateZ(45deg) */
}

.conainer-bestcomp{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.comp p{
    font-size: 28px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: IM FELL French Canon SC;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;

}